* {
    line-height: 1.5;
    text-align: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: maroon;
}

img {
    width: 350px;
}

h1 {
    margin-bottom: 50px;
    border: 1px solid black;
    box-shadow: 1px 1px 4px gray;
}

h2 {
    text-decoration: underline;
}

h1, h2 {
    text-align: center;
}

h2, h3 {
    margin-top: 2em;
}

.all-contents {
    width: 550px;
    text-align: center;
    background-color: #FFFAFA;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5); 
}

.all-contents.feature {
    border: 2px solid black;

}

.all-contents a {
    background-color: brown;
    color: antiquewhite;
    padding: 5px;
}